<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable ="no">
	<title>index:hpcp</title>
	<script type="text/javascript" src="../../static/script/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/script/default.js"></script>
    <script type="text/javascript" src="../../static/script/movefunctions.js"></script>
    <script type="text/javascript" src="../../static/script/cardfunctions.js"></script>
    <script type="text/javascript" src="../../static/script/md5.js"></script>
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/style/default2.css">
</head>

<body onresize="colum_num_listener()">
	<div id="header">
		<div id="boards" onclick="hide_side_bar()">
            <span class="fa-tasks fa icon-tasks"></span>
            <span class="header-tasks" >卡片组</span>
            <!--笔记本/私人或队伍/拉人等等功能-->
		</div>
		<div id="header-search-div">
			<input type="text" id="search-input" placeholder="搜索当前卡片组"/>
			<img class="icon-search icon" src="../../static/images/magnify.png">
			<img class="icon-new-window icon" src="../../static/images/new-window.png">
			<img class="icon-close icon" src="../../static/images/close.png">
		</div>
		<div id="header-logo-div" onclick="b()">
			<img src="../../static/images/logo.png" alt="Hpcp" onclick="b()">
		</div>
		<div id="header-new-bar-creator" onclick="init_card_position()" >
			<span class="left-arrow"></span>
			<span id="new-bar" onclick="b()">重新整理</span>
		</div>
		<div id="header-hpcp">
            <img src="../../static/images/hpcp.png" alt="海马体"/>
		</div>

		<div id="header-remind" title="查看提醒">
			<span class="fa fa-bell icon-remind"></span>
		</div>

		<div id="header-user">

            <span id="header-username">{{username}}</span>
			<img src="../../static/images/icon.jpg" class="user-icon header-user-icon">
		</div>

        <div id="header-plus" title="添加新记事">
        <span class="icon-plus fa-plus fa"></span>
        </div>
        <div id="header-save" title="存储当前布局">
            <span class="icon-save fa-floppy-o fa"></span>
        </div>

	</div>
	<script>

        $('.icon-search').click(function(){
              strach_header_search();
        });


		$('#search-input').focus(function() {
			strach_header_search();
		});

		$('#header-search-div').blur(function() {
			zip_header_search();
		});

		$('.icon-close').click(function() {
			zip_header_search();
		});


	</script>

	<div id="container-main" onMouseMove="move(event)" onMouseUp="up(event)">

        <!-- <div class="card color0" id="card0" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片0</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                <p>请问这么执着的男子，是什么星座的啊？:男子搭公交没赶上 打的追7站问司机为什么不停车</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="card color1" id="card1" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片1</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>开学第一天去学校食堂吃饭，队伍很挤，几乎人贴人，后面的女生的胸部总无意间碰到我的后背，于是我硬了，没想到幸福来得这么突然，“做我男朋友好吗？”前排的小哥回头对我说道。</p>
                </div>
            </div>
        </div>

        <div class="card color2" id="card2" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片2</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>新街口看到一个乞丐，我大吃一惊，居然是我同学。他也看到了我，也大吃一惊，问我：你的地盘不是在湖南路吗？</p>
                </div>
            </div>
        </div>

        <div class="card color3" id="card3" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title" >
                <span class="card-name">卡片3</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content">
                <div class="card-content-p">
                    <p>【不可不知的9道解酒招，你家男人会派上用场】1. 蜂蜜水—酒后头痛 ；2.西红柿汁—酒后头晕 ；3.新鲜葡萄—酒后反胃、恶心 ；4.西瓜汁—酒后全身发热 ；5.柚子—酒后口气 ；6.芹菜汁—酒后胃肠不适、颜面发红 ；7.酸奶—酒后烦躁 ；8.香蕉—酒后心悸、胸闷 ；9.橄榄—酒后厌食。</p>
                </div>
            </div>
        </div> -->

        <!--
        <div class="card color4" id="card4" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片4</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>这日，菩提老祖将悟空唤至身前：“你已学会长生不老术和七十二变，今日为师欲传授你新的法术。” 悟空道：“是何法术？” 菩提老祖道：“看到这天上的云彩了吗？这边有七朵云彩，那边有五朵云彩，一共有几朵？” 悟空答：“十二朵。” 菩提老祖道：“嗯，我要教你的就是云计算。”</p>
                </div>
            </div>
        </div>
        <div class="card color5" id="card5" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片5</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>今天路上遇一和尚：“施主化个缘吧” “不好意思我对这不太会...” “没关系的化缘很简单” “但我对这没经验...” “人生总有第一次 施主化个缘吧” “唉，好吧” 我见他苦口相劝就不太好再拒绝，于是从包掏出纸笔画了个圆给他 “画的不太好,请多包涵” 临走前看他的表情应该是太感动了吧.....</p>
                </div>
            </div>
        </div>

        <div class="card color6" id="card6" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片6</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>我怎么醉到没有发现5和7中间少一个6</p>
                </div>
            </div>
        </div>
        <div class="card color7" id="card7" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片7</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>忽然明白为啥我国人民吃饭时候边吃边看手机的那么多。完全是因为西餐一般要用两只手用餐具，而中餐吃饭时左手完全是空着的，太适合边吃边看手机了。民族自豪感油然而生。——royxy</p>
                </div>
            </div>
        </div>
        <div class="card color8" id="card8" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">
            <div class="title">
                <span class="card-name">卡片8</span>
                <span class="card-action fa-bars fa"></span>
            </div>
            <div class="content" >

                <div class="card-content-p">
                    <p>千万不要勤奋努力，起码现在你的笨还能拿懒当个借口哦</p>
                </div>
            </div>
        </div>

        <div class="card color0" id="card9" onMouseDown="mouseDown(this,event)" onMouseUp="up(event)">

            <div class="title">
                <span class="card-name">卡片9</span>
                <span class="card-action fa-bars fa"></span>
            </div>


            <div class="content" >
                <div class="card-content-p">
                    <p>正在书房看书，女朋友穿着新买的蕾丝内衣走了进来，看起来性感而迷人。她娇声对我说：“亲爱的，想要吗？” 我兴奋地说：“想要！你赶紧脱下来我穿试试！”</p>
                </div>
            </div>
        </div>
        -->
    </div>
    


    <div id="group">
         <div id="hide-bar" onclick="hide_side_bar()">
            <span class="fa-angle-double-left fa" ></span>
        </div>
        <div class="card-group" id="default-group">默认</div>
        <div class="card-group active-group" id="all-group">全部</div>
        <div class="card-group" id="archieved-group">已归档</div>
    </div>

</body>
<script>



    get_times();
    init_window_val();
     init_map();
    load_cards();
    set_sidebar_active();
    bindlistener();
    //save_all_cards();
    //get_index();

    function b(){
        var card_num=$("#container-main").children(".card").length;cards=$("#container-main").children(".card").first();for(var i=0;i<card_num;i++){

            cards.css({left:"60px",top:"80px"});
            cards.hide(20);

            cards=cards.next(".card");
        }
        init_card_position();
        window.heightest_length=0;
        bindlistener();
    }

</script>
</html>
