<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable ="no">
	<title>index:hpcp</title>
	<script type="text/javascript" src="../../static/script/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/script/default.js"></script>
    <script type="text/javascript" src="../../static/script/movefunctions.js"></script>
    <script type="text/javascript" src="../../static/script/cardfunctions.js"></script>
    <script type="text/javascript" src="../../static/script/md5.js"></script>
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/style/default2.css">
</head>

<body onresize="colum_num_listener()">
	<div id="header">
		<div id="boards" onclick="hide_side_bar()">
            <span class="fa-tasks fa icon-tasks"></span>
            <span class="header-tasks" >卡片组</span>
            <!--笔记本/私人或队伍/拉人等等功能-->
		</div>
		<div id="header-search-div">
			<input type="text" id="search-input" placeholder="搜索当前卡片组"/>
			<img class="icon-search icon" src="../../static/images/magnify.png">
			<img class="icon-new-window icon" src="../../static/images/new-window.png">
			<img class="icon-close icon" src="../../static/images/close.png">
		</div>
		<div id="header-logo-div" onclick="b()">
			<img src="../../static/images/logo.png" alt="Hpcp" onclick="b()">
		</div>
		<div id="header-new-bar-creator" onclick="init_card_position()" >
			<span class="left-arrow"></span>
			<span id="new-bar" onclick="b()">重新整理</span>
		</div>
		<div id="header-hpcp">
            <img src="../../static/images/hpcp.png" alt="海马体"/>
		</div>

		<div id="header-remind" title="查看提醒">
			<span class="fa fa-bell icon-remind"></span>
		</div>

		<div id="header-user">

            <span id="header-username">{{username}}</span>
			<img src="../../static/images/icon.jpg" class="user-icon header-user-icon">
		</div>

        <div id="header-plus" title="添加新记事">
        <span class="icon-plus fa-plus fa"></span>
        </div>
        <div id="header-save" title="存储当前布局">
            <span class="icon-save fa-floppy-o fa"></span>
        </div>

	</div>
	<script>

        $('.icon-search').click(function(){
              strach_header_search();
        });


		$('#search-input').focus(function() {
			strach_header_search();
		});

		$('#header-search-div').blur(function() {
			zip_header_search();
		});

		$('.icon-close').click(function() {
			zip_header_search();
		});


	</script>

	<div id="container-main" onMouseMove="move(event)" onMouseUp="up(event)">


    </div>
    


    <div id="group">
         <div id="hide-bar" onclick="hide_side_bar()">
            <span class="fa-angle-double-left fa" ></span>
        </div>
        <div class="card-group" id="default-group">默认</div>
        <div class="card-group active-group" id="all-group">全部</div>
        <div class="card-group" id="archieved-group">已归档</div>
    </div>

</body>
<script>



    //get_times();
    init_window_val();
     init_map();
    //send_indexs();
    //load_cards();
    get_indexs();
    set_sidebar_active();
    bindlistener();


    //save_all_cards();
    //get_index();

    function b(){

        init_card_position();

    }

</script>
</html>
