<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable ="no">
	<title>index:hpcp</title>
	<script type="text/javascript" src="../../static/script/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/script/default.js"></script>
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/style/default2.css">
</head>

<body onresize="colum_num_listener()">
	<div id="header">
		<div id="boards">
            <span class="fa-tasks fa icon-tasks"></span>
            <span class="header-tasks">管理</span>
            <!--笔记本/私人或队伍/拉人等等功能-->
		</div>
		<div id="header-search-div">
			<input type="text" id="search-input"/>
			<img class="icon-search icon" src="../../static/images/magnify.png">
			<img class="icon-new-window icon" src="../../static/images/new-window.png">
			<img class="icon-close icon" src="../../static/images/close.png">
		</div>
		<div id="header-logo-div">
			<img src="../../static/images/logo.png" alt="Hpcp">
		</div>
		<div id="header-new-bar-creator">
			<span class="left-arrow"></span>
			<span id="new-bar">New Bar!</span>
		</div>
		<div id="header-hpcp">
            <img src="../../static/images/hpcp.png" alt="海马体"/>
		</div>

		<div id="header-remind">
			<span class="fa fa-bell icon-remind"></span>
		</div>

		<div id="header-user">

            <span id="header-username">自highの宋子明</span>
			<img src="../../static/images/icon.jpg" class="user-icon header-user-icon">
		</div>

        <div id="header-plus">
        <span class="icon-plus fa-plus fa"></span>
        </div>

	</div>
	<script>

        $('.icon-search').click(function(){
              strach_header_search();
        });


		$('#search-input').focus(function() {
			strach_header_search();
		});

		$('#header-search-div').blur(function() {
			zip_header_search();
		});

		$('.icon-close').click(function() {
			zip_header_search();
		});


	</script>

	<div id="container-main" onMouseMove="move()" onMouseUp="up()">

        <div class="card color0" id="card0" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片0</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>阿米巴原虫属肉足鞭毛门(Sarcomastiugophora)、叶足纲(Lobosasida)、阿米巴目(Amoebida)。由于生活环境不同可分为内阿米巴和自由生活阿米巴，元一，前者寄生于人和动物，主要有4个属，即内阿米巴属(Entamoeba)、内蜒属(Endolimax)、嗜碘阿米巴属(Iodamoeba)和脆双核阿米巴属(Dientamoeba)；后者生活在水和泥土中，偶尔侵入动物机体，主要有5个属，即耐格里属(Naegleria)、棘阿米巴属(Acanthamoeba)、哈曼属(Hartmannella)、Vablkampfia属和Sappinia属。</p>
                </div>
            </div>
        </div>

        <div class="card color1" id="card1" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片1</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>阿米巴原虫，又称“吃脑寄生虫”，现已知内阿米巴属的溶组织内阿米巴会引发阿米巴痢疾和肝脓

                        肿，耐格里属和棘阿米巴属主要引起脑膜脑炎、角膜炎、口腔感染和皮肤损伤等。临床上，溶组织内阿米巴引发的病例多，感染面广，危害大。　世界各地的水、空气和土壤都存在自由生活的阿米巴，过去认为与人体致病无关。</p>
                </div>
            </div>
        </div>

        <div class="card color2" id="card2" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片2</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>纳格里属滋养体长椭圆形，平均大小为22*7微米，从一端伸出奔放式伪足，运动快速。胞质颗粒状，内含数个水泡（water vacuole）和伸缩泡。染色可见一大核，核仁大，核仁与核膜间呈一透明圈。滋养体在36℃蒸馏水中几小时，可转变为梨形、具有2～4根鞭毛的鞭毛型。鞭毛型为暂时形式，24小时后转变为阿米巴型。包囊圆形，直径约9微米，囊壁光滑有孔或无孔。胞核同滋养体。在组织中未见包囊</p>
                </div>
            </div>
        </div>

        <div class="card color3" id="card3" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title" >
                <span class="card-name">卡片3</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content">
                <div class="card-content-p">
                    <p>（哪是故乡 哪是他乡 我的故乡……）</p>
                    <p>（很多痛苦要自己来承受）</p>
                    <p>（很多泪水要往心里流</p>
                </div>
            </div>
        </div>
        <div class="card color4" id="card4" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片4</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" ondragstart="drag(event)">
                <div class="card-content-p">
                    <p>Where are you go mama
                    Where are you go brother
                    Where are you go sister to what to go
                    what to go what to go
                    Where are you go mama
                    Where are you go brother
                    Where are you go sister to what to go
                    what to go
                    what to go</p>
                </div>
            </div>
        </div>
        <div class="card color5" id="card5" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片5</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" ondragstart="drag(event)">
                <div class="card-content-p">
                    <p>被挤进充满人肉味儿的地铁车厢
                    所有人集体逃开刺眼的阳光
                    我们躲在地下 高速流淌
                    像这座城市的静脉
                    回流向心脏</p>
                </div>
            </div>
        </div>
        <div class="card color7" id="card7" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片7</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" ondragstart="drag(event)">
                <div class="card-content-p">
                    <p>除了上班的地方
                    还能逃哪儿去呢
                    这城市是我的吗
                    而我又是谁的呢
                    是被自己骗了吗
                    还是圆不了当初说的谎
                    如果这儿不是我的城
                    我的青春她去哪儿啊
                    没有留不下的城市
                    没有回不去的故乡
                    我能去的和想去的
                    到底在不在同一个地方</p>
                </div>
            </div>
        </div>
        <div class="card color8" id="card8" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片8</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" ondragstart="drag(event)">
                <div class="card-content-p">
                    <p>没有留不下的青春
                    没有回不去的过往
                    让我痛苦的 让我思念的
                    还是不是 那个姑娘</p>
                </div>
            </div>
        </div>
        <div class="card color9" id="card9" onMouseDown="mouseDown(this)" onMouseUp="up(this)">
            <div class="title">
                <span class="card-name">卡片9</span>
                <span class="card-action fa-ellipsis-h fa"></span>
            </div>
            <div class="content" >
                <div class="card-content-p">
                    <p>（哪是故乡 哪是他乡 我的故乡……）
                    （很多痛苦要自己来承受）
                    很多泪水要往心里流
                    （没有退缩的理由）</p>
                </div>
            </div>
        </div>
        <!--<div style="width: 400px;height: 400px;background: #fff;float: left;"  ondrop="drop(event)" ondragover="allowDrop(event)">-->

    </div>

        <script>
            //验证是否按下鼠标左键的变量
            var down=false;
            //分别为鼠标x轴y轴，div层坐标x轴y轴
            var mX,mY,dX,dY;
            var target;
            //当鼠标左键点指定div时触发
            function mouseDown(obj)
            {
                target=obj;
                //alert(obj);
                down=true;//鼠标左键在点住期间，down值为true
                mX=event.clientX;//获得鼠标坐标，并记录当前坐标给变量
                mY=event.clientY;//获得鼠标坐标，并记录当前坐标给变量，以便后面计算
                //$("#card3 .card-content-p").text("x"+mX.toString()+" y"+mY.toString());
                dX=parseInt($(obj).offset().left);//获得div1（这是层的Id值）的坐标，因为本来是px的字符串，所以要取其中的整数值
                dY=parseInt($(obj).offset().top);//parseInt()就是用来截取整数值的方
                //$("#card3 .card-name").text("down!");
                //move();
            }
            //鼠标左键松开时触发up事件
            function up()
            {
                //$("#card3 .card-name").text("up!");
                //如果down为true时，因为鼠标左键不按状态下都属于up事件，所以要加上验证
                if(down)
                {
                    down=false;//设置down为false，表示左键没有点住
                    upDown(target);//调用下浮效果的方法，使移动停止后会有下沉的效果。如不需要可删除
                }
            }
           //鼠标在指定区域移动时会触发此事件
            function move()
            {
               //必先判断鼠标左键已被在指定区域按下
                if(down){
                    //设置该层坐标等于原坐标加上鼠标移动的坐标
                    $(target).css({left:(dX+event.clientX-mX).toString()+"px",top:(dY+event.clientY-mY).toString()+"px"});
                }
            }


            //此变量t控制漂浮效果的次数
            var t=10;
            //此方法用于停止移动时的下沉漂浮效果
            function upDown(obj)
            {
                if(t==0)
                {
                    //t等于0时，每10毫秒调用一次本方法，并使t++避免下次再次执行
                    val=setInterval("upDown()",10);
                    t++;
                }
                //获取现在的纵坐标，因为做下沉动作，所以只需在纵坐标上动些手脚
                dY=parseInt($(this).offset().top);
                //设置纵坐标，+3px就是离顶部距离增加了3像素，循环增加便成了下沉的效果
                $(this).css({top:(dY+3).toString()+"px"});
                //增加一次t+1
                t++;
                //当循环15次之后
                if(t==15)
                {
                    t=0;//t归零
                    clearInterval(val);//停止之前的每10毫秒调用一次
                }
            }


            var card_width=250;
            //var container_left_edge=Math.floor($("#container-main").offset().left);
            var container_left_edge=50;
            //alert(container_left_edge);
            var container_width=Math.floor($("#container-main").width());
            var col_num=Math.floor(container_width/card_width);
            var col_height_arr;
            var heightest_length=0;

            function init_card_position(){

                var card_num=$("#container-main").children(".card").length;
                //alert(card_num);
                var cards=$("#container-main").children(".card").first();
                //初始化第一行
                if(col_num>=card_num){
                    for(var i=0;i<card_num;i++){
                        var card_left=container_left_edge+i*card_width;
                        //cards.css({left:card_left.toString()+"px"});
                        cards.animate({opacity:'show',left:card_left.toString()+"px"},600,"linear");
                        //alert(cards.attr("id"));
                        cards=cards.next(".card");
                    }
                    col_height_arr=new Array(card_num);

                }
                //初始化第一行
                else{
                    for(var i=0;i<col_num;i++){
                        var card_left=container_left_edge+i*card_width;
                        //cards.css({left:card_left.toString()+"px"});
                        cards.animate({opacity:'show',left:card_left.toString()+"px"},600,"linear");
                        //alert(cards.attr("id"));
                        cards=cards.next(".card");
                    }
                    col_height_arr=new Array(col_num);
                    //初始化高度数组
                    cards=$("#container-main").children(".card").first();
                    for(var j=0;j<col_num;j++){
                        col_height_arr[j]=parseInt(cards.offset().top)+parseInt(cards.outerHeight());
                        //$("#card0 .card-content-p p").append(j.toString()+": "+col_height_arr[j].toString()+"\n");
                        cards=cards.next(".card");
                     }
                    //循环添加
                    for(var k=col_num;k<card_num;k++){
                        var lowest=find_lowest_colum(col_num);
                        card_left=container_left_edge+(lowest)*card_width;
                        var card_top=col_height_arr[lowest];
                        cards.animate({opacity:'show',left:card_left.toString()+"px",top:card_top.toString()+"px"},600,"linear");
                        var card_height=parseInt(cards.outerHeight());
                        //$("#card0 .card-content-p p").append("1   :"+col_height_arr[lowest].toString()+"\n");
                        col_height_arr[lowest]+=card_height+10;

                        //$("#card0 .card-content-p p").append("2   :"+col_height_arr[lowest].toString()+"\n");
                        //$("#card0 .card-content-p p").append("最小的标号 "+lowest+"\n");
                        cards=cards.next(".card");
                    }
                    //根据高度自动填充剩余card

                }
            }

            init_card_position();

            function colum_num_listener(){
                var new_col_num=Math.floor($("#container-main").width()/card_width);
                if(new_col_num<col_num){
                    col_num=new_col_num;

                    $(".card").hide(20);
                    init_card_position();
                }
                else if(new_col_num>col_num){
                    col_num=new_col_num;
                    //列数变多需要重新定位置
                    var card_num=$("#container-main").children(".card").length;
                    cards=$("#container-main").children(".card").first();

                    for(var i=0;i<card_num;i++){

                       cards.css({left:"60px",top:"80px"});
                       //cards.hide(20);
                            //alert(cards.attr("id"));
                       cards=cards.next(".card");
                       }
                    //col_height_arr=new Array(card_num);
                    init_card_position();
                }
            }

            function find_lowest_colum(col_num){
                var lowest_no=0;
                //var cards=$("#container-main").children(".card").first();
                for(var i=0;i<col_num;i++){
                    //$("#card0 .card-content-p p").append(i.toString()+": "+col_height_arr[i].toString()+"\n");
                    if(col_height_arr[i]<col_height_arr[lowest_no]){
                        lowest_no=i;
                    }
                    if(col_height_arr[i]>heightest_length){
                        heightest_length=col_height_arr[i];
                        //alert(heightest_length);
                        $("#container-main").css({"height":(heightest_length+20).toString()+"px"});
                    }
                }
                return lowest_no;
            }

//          onMouseDown="mouseDown(this)" onMouseUp="up(this)"

        </script>

</body>
</html>