<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable ="no">
	<title>index:hpcp</title>
	<script type="text/javascript" src="../../static/script/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/script/default.js"></script>
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/style/default.css">
</head>

<body>
	<div id="header">
		<div id="boards">
            <span class="fa-tasks fa icon-tasks"></span>
            <span class="header-tasks">管理</span>
            <!--笔记本/私人或队伍/拉人等等功能-->
		</div>
		<div id="header-search-div">
			<input type="text" id="search-input"/>
			<img class="icon-search icon" src="../../static/images/magnify.png">
			<img class="icon-new-window icon" src="../../static/images/new-window.png">
			<img class="icon-close icon" src="../../static/images/close.png">
		</div>
		<div id="header-logo-div">
			<img src="../../static/images/logo.png" alt="Hpcp">
		</div>
		<div id="header-new-bar-creator">
			<span class="left-arrow"></span>
			<span id="new-bar">New Bar!</span>
		</div>
		<div id="header-hpcp">
            <img src="../../static/images/hpcp.png" alt="海马体"/>
		</div>

		<div id="header-remind">
			<span class="fa fa-bell icon-remind"></span>
		</div>

		<div id="header-user">

            <span id="header-username">自highの宋子明</span>
			<img src="../../static/images/icon.jpg" class="user-icon header-user-icon">
		</div>

        <div id="header-plus">
        <span class="icon-plus fa-plus fa"></span>
        </div>

	</div>
	<script>

        $('.icon-search').click(function(){
              strach_header_search();
        });


		$('#search-input').focus(function() {
			strach_header_search();
		});

		$('#header-search-div').blur(function() {
			zip_header_search();
		});

		$('.icon-close').click(function() {
			zip_header_search();
		});


	</script>

	<div id="container-main">

        <div class="waterfall" id="fall0" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color0" id="card0" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片0</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>恐慌的人们 甜蜜时清醒
                        <p>遗忘的意义 随着死亡而坠落
                        <p>强大 但有限的头脑做王
                        <p>这第一个谎言 轻易进入世间
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall1" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color1" id="card1" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片1</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" >
                    <div class="card-content-p">
                        <p>爱 已经成为过去的事
                        <p>那温暖 是被动的无私
                        <p>爱人 让我亲吻你的梦
                        <p>可往哪儿走 往哪儿走 妈妈
                        <p>爱人 往哪儿走 往哪儿走 爱人
                        <p>兄弟 往哪儿走 往哪儿走 兄弟
                        <p>主 该往哪儿走 往哪儿走 往哪儿走
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color2" id="card2" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片2</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>我们宁愿 绝望也不信
                        <p>自己的灵魂 没有内在的美德
                        <p>荣耀的君王 被钉死他乡
                        <p>用完全的义 担当我们的苦难
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color3" id="card3" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片3</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>爱 已经来过这里 妈妈
                        <p>我怎能 轻看他的血
                        <p>良人 请敲打我的梦
                        <p>该往哪儿走 往哪儿走 妈妈
                        <p>爱人 往哪儿走 往哪儿走 爱人
                        <p>兄弟 往哪儿走 往哪儿走 兄弟
                        <p>主 该往哪儿走 往哪儿走 往哪儿走
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall4" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color4" id="card4" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片4</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>Where are you go mama
                        <p>Where are you go brother
                        <p>Where are you go sister to what to go
                        <p>what to go what to go
                        <p>Where are you go mama
                        <p>Where are you go brother
                        <p>Where are you go sister to what to go
                        <p>what to go
                        <p>what to go
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall5" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color5" id="card5" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片5</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>被挤进充满人肉味儿的地铁车厢
                        <p>所有人集体逃开刺眼的阳光
                        <p>我们躲在地下 高速流淌
                        <p>像这座城市的静脉
                        <p>回流向心脏
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall6" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color6" id="card6" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片6</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>昨夜的酒醉现场像是个沙场
                        <p>大家高呼再干一杯
                        <p>像是集体殉葬
                        <p>酒醒了梦未醒 头昏脑胀
                        <p>埋头在人群之中
                        <p>我身在何处 要去向何方
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall7" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color7" id="card7" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片7</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>还能逃哪儿去呢
                        <p>除了上班的地方
                        <p>这城市是我的吗
                        <p>而我又是谁的呢
                        <p> 是被自己骗了吗
                        <p>还是圆不了当初说的谎
                        <p>如果这儿不是我的城
                        <p>我的青春她去哪儿啊
                        <p> 没有留不下的城市
                        <p>没有回不去的故乡
                        <p> 我能去的和想去的
                        <p> 到底在不在同一个地方
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall8" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color8" id="card8" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片8</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" ondragstart="drag(event)">
                    <div class="card-content-p">
                        <p>没有留不下的青春
                        <p>没有回不去的过往
                        <p>让我痛苦的 让我思念的
                        <p>还是不是 那个姑娘
                    </div>
                </div>
            </div>

        </div>

        <div class="waterfall" id="fall9" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="list color9" id="card9" draggable="true" ondragstart="drag(event)">
                <div class="title">
                    <span class="card-name">卡片9</span>
                    <span class="card-action fa-ellipsis-h fa"></span>
                </div>
                <div class="content" >
                    <div class="card-content-p">
                        <p>（哪是故乡 哪是他乡 我的故乡……）
                        <p>（很多痛苦要自己来承受）
                        <p>（很多泪水要往心里流
                        <p>（没有退缩的理由）
                    </div>
                </div>
            </div>
        </div>
        <!--<div style="width: 400px;height: 400px;background: #fff;float: left;"  ondrop="drop(event)" ondragover="allowDrop(event)">-->

        </div>

        <script>
            function allowDrop(ev)
            {
                ev.preventDefault();
            }

            function drag(ev)
            {
                ev.dataTransfer.setData("Text",ev.target.id);
            }

            function drop(ev)
            {
                ev.preventDefault();
                var data=ev.dataTransfer.getData("Text");
                ev.target.appendChild(document.getElementById(data));
            }
            var cardArray=new Array();
            var waterfall_num=$("#container-main").children().length;
            var waterfall=$("#container-main").children().first();

            for(var i=0;i<waterfall_num;i++){
                //alert(waterfall.attr("id"));
                waterfall=waterfall.next(".waterfall");
            }
            //alert($('#container-main').children().first().attr("id"));


//            alert($('#container-main').children().length);
//            alert($('.list').length);
//            for(var counter=0;counter<$('.list').length;counter++){
////                alert($('.list').firstChild.attributes("id"));
////                alert(counter);
//                $('.list').siblings
//            }
        </script>
	</div>
	
</body>
</html>