<html>
<head>
	<title>用户设置</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
	<link rel="stylesheet" type="text/css" href="../../static/style/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/style/settings.css" />
	<script type="text/javascript" src="../../static/script/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/script/settings.js"></script>
</head>
<body>
	<div class="container">
		<div class="row nav-row">
			<nav class="navbar navbar-default row" role="navigation">
		    	<ul class="nav nav-tabs" role="tablist">
				  <li role="presentation" class="active" id="firstli"><a href="#resource">修改用户资料</a></li>
				  <li role="presentation" id="lastli"><a href="#password">修改用户密码</a></li>
				</ul>	  
			</nav>
		</div>
	

		<div class="link resource row" id="resource_div">
			<a name="resource">aaa</a>
				<!--
					用户资料修改输入框
				-->
				<div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 parentTop">
					<form role="form">
					  <div class="form-group">
					    <label for="nickname">NickName</label>
					    <input type="text" class="form-control input_length" id="nickname" placeholder="Enter nickname">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail">Email address</label>
					    <input type="email" class="form-control input_length" id="exampleInputEmail" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label for="sex">Sex</label>
					    <div class="sexRadio">
						    <input type="radio" id="sexM" name="sex" checked="checked" value="male"/>Male
						    <input type="radio" id="sexF" name="sex" value="female"/>Female
						</div>
					  </div>
					  <button type="submit" class="btn btn-default btn-submit" id="submitResource">Submit</button>
					  <div class="ResInfo" id="ResInfo"></div>
					</form>
				</div>		
		</div>

		<div class="link password" id="password_div">
			<a name="password">bbb</a>
			<!--
				用户密码修改
			-->
			<div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 parentTop">
					<form role="form">
					  <div class="form-group">
					    <label for="InputOldPassword">Original Password</label>
					    <input type="password" class="form-control input_length" id="InputOldPassword" placeholder="Original Password">
					    <span class="backInfo" id="oripwd"></span>
					    <span class="comment">*Please input the correct original password firstly</span>
					  </div>	
					  <div class="form-group">
					    <label for="InputNewPassword">New Password</label>
					    <input type="password" class="form-control input_length" id="InputNewPassword" placeholder="New Password">
					    <span class="backInfo" id="newpwd"></span>
					  </div>
					  <div class="form-group">
					    <label for="InputNewPassword2">Resure Password</label>
					    <input type="password" class="form-control input_length" id="InputNewPassword2" placeholder="Resure Password">
					    <span class="backInfo" id="newpwd2"></span>
					  </div>				
					  <button type="submit" class="btn btn-default btn-submit" id="submitPwd">Submit</button>
					</form>
				</div>
		</div>
	</div>
	<script type="text/javascript">
		set_active();
		CheckAllPwd();	
		submitRes();
	</script>
</body>
</html>