.link{
	position: relative;
	margin: auto;
	width: 100%;
	height:89%;
}
.nav-row{
	height: auto;
	overflow: hidden;
}
.link a{
	visibility: hidden;
}

.resource{
	background: #D3D3D3;
}

.password{
	background: #D3D3D3;
	display: none;
}

.movecard{
    background: #D3D3D3;
    display: none;
}

.form-group label{
	font-size: 20px;
	display: block;
}

.input_length{
	width: 66%;
	display: inline-block;
}

.parentTop{
	padding-top: 80px;
}

.sexRadio{
	width: auto;
	height: auto;
	font-size: 18px;
}

.sexRadio input[type='radio']{
	display: inline-block;
	width: 5%;
	zoom: 1.5;
}

#sexF{
	margin-left: 4%;
}

.btn-submit{
	width: 50%;
	margin-top: 30px;
	margin-left: 8%;
	background: rgb(255, 153, 0);
}

.btn-submit:link{
	background: rgb(255, 153, 0);
}

.backInfo{
	width: auto;
	height: 34px;
	display: inline-block;
	font-size: 16px;
	padding-left: 10px;
}

.comment{
	font-size: 16px;
	color: #F08080;
	display: block;
}

.ResInfo{
	width: 50%;
	margin-top: 10px;
	margin-left: 8%;
	height: auto;
	text-align: center;
}
